.choice{
    width: 20%;
    height: 20%;
    background-color: aqua;
}

.wrapping{
    /* position: absolute;
    align-items: center; */
    display: flex;
  justify-content: center;
  align-items: center;
}